body {
    background-image: url("https://st2.depositphotos.com/1000641/11422/v/950/depositphotos_114228434-stock-illustration-abstract-crystal-background.jpg");
}
.heading {
    color: white;
    font-size: 35px;
    background-color: orange;
    padding: 20px 0px;
    margin-top: 10px;
}
.instruction-box {
    color: green;
    background-color: rgb(226, 211, 192);
    padding: 20px 5px 80px;
    margin-top: 10px;
}
.random-number {
    color: purple;
    font-size: 30px;
    background-color: rgb(78, 161, 78);
    padding: 5px 80px 50px 5px;
    margin: 10px 0px 0px 15px;
}
.wins-losses {
    color: green;
    background-color: lightblue;
    padding: 10px 0px 0px 10px;
    margin: 10px 0px 0px 10px;
}
.crystal {
    height: 100px;
    width: 100px;
    border: solid transparent 5px;
    margin-top: 10px;
}
.score-statement {
    color: white;
    background-color: teal;
    padding: 5px 20px 5px 0px;
}
.my-score {
    color: white;
    font-size: 25px;
    background-color: teal;
    padding: 5px 0px 50px 5px;
    margin: 10px 0px;
}